@use "../../assets/styleUtils/" as *;
.anime-search-pg {
  background-color: #1d75be;
  min-height: 100vh;
  h1,
  h2,
  h3,
  p,
  h4,
  h5,
  h6,
  svg,
  a,
  input {
    color: var(--textClr);
  }
  .inner {
    max-width: 600px;
  }
  .form-header {
    background-color: #1d75be;
    position: sticky;
    top: 0;
    .inner {
      padding: 2rem 0;
      padding-bottom: 1rem;
    }
  }
  .search-form {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    height: fit-content;
    @include flex($justify: flex-start);

    padding: 0 0.5rem;
    font-size: 15px;
    .filter-field {
      margin: 0;
    }
    .input-icon-wrap {
      padding: 0;
      background-color: transparent;
      height: 30px;
      input {
        font-size: 15px;
        border: none;
        padding: 0 0.5rem;
        color: var(--whiteClr) !important;
        &:focus {
          border: none;
        }
      }
    }

    .btn-noBg {
      // padding: 0;
      height: 100%;
      color: var(--whiteClr);
      text-transform: capitalize;
    }
  }
  p {
    color: var(--whiteClr);
    margin: 1rem 0;
  }

  .btn.bg-whiteClr {
    margin: 1rem auto;
  }
}
